/*Font*/
@font-face {
    font-family: FiraCode;
    src: url(Fonts/FiraCode-Light.ttf);
}

body{
    margin: 0;
    padding: 0;
}

/*INTRODUCTION*/
.intro-container{
    margin: 0;
    padding: 0;
    background-color: #2f3542;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-family: FiraCode;
}

.intro-container .text-container{
    display: inline-block;
}

.text-container h1{
    font-size: 5em;
    color: #fff;
    letter-spacing: 10px;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2 steps(24), cursor .8s step-end infinite alternate;
}

@keyframes cursor{
    50% {border-color: transparent}
}

@keyframes typing{
    from {width: 0%}
}

.text-container h3{
    color: #f54747;
    font-size: 2em;
}

/* Skill Container */

.skill-container{
    height: 100vh;
}

/* Work Container */